{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Redefinição de Senha{% endblock %}
{% block content %}
<div class="container">
	<div class="row justify-content-center menu-fonte">
        {% if validlink %}
            <div id="tela">
                <form method="POST">
                    {% csrf_token %}
                    <h4 class="titulo-form">Redefinição de Senha</h4>
                    {{ form|crispy }}
                    <p class="text-center">
                        <button class="btn btn-secondary font-detalhes mt-1" type="submit">Confirmar</button>
                    </p>
                </form>
            </div>
        {% else %}
            <div class="recupera-senha-invalido text-center">
                <p class="h4" style="color:red;">Token inválido!</p>
                <a href="{% url 'password_reset' %}" class="h5">Enviar novo email para redefinição</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}