{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center menu-fonte">
        <div class="recupera-senha">
            <h2 class="text-center mb-4">Redefinição de Senha enviada</h2>
            <p class="mb-2">Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
            <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
        </div>
    </div>
</div>
{% endblock %}