{% extends "base.html"%}
{% load static %}
{% block title %}Entregas Realizadas{% endblock %}
{% block buscar %}
<form class="form-inline my-2 my-lg-0" action="{% url 'url_busca_entrega' %}">
	<input class="form-control mr-sm-2" id="buscar" name="buscar" type="date" style="width: 230px;" placeholder="Buscar por data(ano-mês-dia)" aria-label="Search">
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}
{% block content %}

{% if perms.eventos.add_entrega %}
<a href="{% url 'url_cad_entrega' %}">
	<th scope="col"><button type="button" class="btn btn-dark font-detalhes">Nova Entrega</button></th>
</a>
{% endif %}

{% if perms.eventos.view_entrega %}
<a href="{% url 'url_lista_entrega' %}">
	<th scope="col"><button type="button" class="btn btn-dark font-detalhes">Listar</button></th>
</a>
{% endif %}

{% include 'alertas.html' %}
<h4 class="titulo-form">Entrega</h4>
<div class="table-responsive">
	<table class="table table-bordered table-hover jumbotron lista-fonte text-center">
		<thead class="thead-dark">
		<tr>
			<th scope="col">RFID</th>
			<th scope="col">Material para Entrega</th>
			<th scope="col">CPF do Motorista</th>
			<th scope="col">Nome da Empresa</th>
			<th scope="col">Placa do Caminhão</th>
			<th scope="col">Peso carregado</th>
			<th scope="col">Peso vazio</th>
			<th scope="col">Peso da carga</th>
			<th scope="col">Valor da carga</th>
			<th scope="col">Data e Hora</th>

			{% if perms.eventos.change_entrega %}
			<th scope="col">Editar</th>
			{% endif %}

			{% if perms.eventos.delete_entrega %}
			<th scope="col">Excluir</th>
			{% endif %}

		</tr>
		</thead>

		<tbody>
		<tr>
			<th scope="row">{{ entrega.cartao_numero }}</th>
			<td>{{ entrega.material }}</td>
			<td>{{ entrega.motorista_cpf }}</td>
			<td>{{ entrega.empresa_nome }}</td>
			<td>{{ entrega.caminhao_placa }}</td>
			<td>{{ entrega.peso_carregado }} Kg</td>
			<td>{{ entrega.peso_vazio }} Kg</td>
			<td>{{ entrega.peso_carga }} Kg</td>
			<td>R$  {{ entrega.valor_carga_total }}</td>
			<td>{{ entrega.data_criacao }}</td>

			{% if perms.eventos.change_entrega %}
			<td>
				<a class="card-link" href="{% url 'url_editar_entrega' entrega.id %}">
					<!--Ícone de edição-->
					<svg class="bi bi-pencil-square text-dark" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
						<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
					</svg>
				</a>
			</td>
			{% endif %}

			{% if perms.eventos.delete_entrega %}
			<td> X </td>
			{% endif %}

		</tr>
		</tbody>

	</table>
</div>

<!--<main class="container ajuste-padding">-->
<!--    {% include 'alertas.html' %}-->
<!--	<div class="row justify-content-center">-->
<!--		<div id="tela">-->
<!--            <section class="font-detalhes">-->
<!--                <h4 class="titulo-form">Entrega</h4>-->
<!--                <p>ID: {{ entrega.id }}</p><br>-->
<!--                <p>Data da entrega: {{ entrega.data_criacao }}</p><br>-->
<!--                <p>Empresa: {{ entrega.empresa_nome }}</p><br>-->
<!--                <p>CPF do Motorista: {{ entrega.motorista_cpf }}</p><br>-->
<!--                <p>Placa do Caminhao: {{ entrega.caminhao_placa }}</p><br>-->
<!--                <p>Numero do cartão: {{ entrega.cartao_numero }}</p><br>-->
<!--                <p>Grupo de Material: {{ entrega.grupo }}</p><br>-->
<!--                <p>Material: {{ entrega.material }}</p><br>-->
<!--            </section>-->
<!--            <a class="card-link" href="{% url 'url_lista_entrega' %}">-->
<!--                &lt;!&ndash;Ícone voltar para lista&ndash;&gt;-->
<!--                <svg class="bi bi-arrow-return-left text-success" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path fill-rule="evenodd" d="M5.854 5.646a.5.5 0 010 .708L3.207 9l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>-->
<!--                    <path fill-rule="evenodd" d="M13.5 2.5a.5.5 0 01.5.5v4a2.5 2.5 0 01-2.5 2.5H3a.5.5 0 010-1h8.5A1.5 1.5 0 0013 7V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>-->
<!--                </svg>-->
<!--            </a>-->
<!--            <a class="card-link" href="{% url 'url_index' %}">-->
<!--                &lt;!&ndash;Ícone ir para pagina inicial&ndash;&gt;-->
<!--                <svg class="bi bi-house text-success" width="1.8em" height="1.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>-->
<!--                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>-->
<!--                </svg>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
{% endblock %}