{% extends "base.html"%}
{% load static %}
{% block title %}Caminhões cadastrados{% endblock %}
{% block buscar %}
<form class="form-inline my-2 my-lg-0" action="{% url 'url_busca_caminhao' %}">
	<input class="form-control mr-sm-2" id="buscar" name="buscar" type="search" placeholder="Buscar..." aria-label="Search">
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}
{% block content %}

{% if perms.cadastros.add_caminhao %}
<a href="{% url 'url_cad_caminhao' %}">
	<th scope="col"><button type="button" class="btn btn-dark font-detalhes">Novo Caminhão</button></th>
</a>
{% endif %}

<a href="{% url 'url_exportar_csv_caminhao' %}">
	<th scope="col"><button type="button" class="btn btn-dark font-detalhes">Exportar CSV</button></th>
</a>
<h4 class="titulo-form">Lista de Caminhões</h4>
<div class="table-responsive">
	<table class="table table-bordered table-hover jumbotron lista-fonte text-center">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Placa</th>
			<th scope="col">Marca</th>
			<th scope="col">Modelo</th>
			<th scope="col">Cor</th>
			<th scope="col">Empresa</th>

			{% if perms.cadastros.change_caminhao %}
			<th scope="col">Editar</th>
			{% endif %}

			{% if perms.cadastros.delete_caminhao %}
			<th scope="col">Excluir</th>
			{% endif %}

		</tr>
		</thead>

		{% for list in lista %}
		<tbody>
		<tr>
			<th scope="row">{{ list.placa }}</th>
			<td>{{ list.marca }}</td>
			<td>{{ list.modelo }}</td>
			<td>{{ list.cor }}</td>

			<td> |
			{% for empresa in list.empresa.all %}
				{{ empresa.nome_empresa }} |
			{% endfor %}
			</td>

			{% if perms.cadastros.change_caminhao %}
			<td>
				<a class="card-link" href="{% url 'url_editar_caminhao' list.id %}">
					<!--Ícone de edição-->
					<svg class="bi bi-pencil-square text-dark" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
						<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
					</svg>
				</a>
			</td>
			{% endif %}

			{% if perms.cadastros.delete_caminhao %}
			<td> X </td>
			{% endif %}

		</tr>
		</tbody>
		{% endfor %}

	</table>
</div>
{% include 'paginacao.html' %}
{% endblock %}

<!--
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<title>Caminhões cadastrados</title>
	<link rel="stylesheet" href="{% static 'cadastros/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cadastros/css/style.css' %}"/>
</head>
<style type="text/css"></style>
<body>
<header>
	<main>
		<div class="caixa">
			<div class="imagen">
				<img src="{% static 'cadastros/img/lg_logo_.png' %}" alt="logo">
			</div>
			<div class="nome">
				<h1>Smart Cargo Control</h1>
			</div>
			<div class="bem-vindo">Bem vindo(a), <strong>{{ user }}</strong> /
				<a class="bem-vindo" href="{% url 'url_editar_senha' %}">Alterar Senha</a> /
				<a class="bem-vindo" href="{% url 'url_editar' %}">Alterar Dados</a> /
				<a class="bem-vindo" href="{% url 'url_logout' %}">Encerrar sessão</a>
			</div>
			<div id="divBusca">
				<input type="text" id="txtBusca" placeholder="Buscar..."/>
				<button id="btnBusca">Buscar</button>
			</div>
		</div>
		<div class="caixa1">
			<nav class="menu">
				<ul>
					<a href="{% url 'url_index' %}"><li>Home</li></a>
					<a><li>Cadastro
						<ul>
							<a href="{% url 'url_cad_empresa' %}"><li>Empresa</li></a>
							<a href="{% url 'url_cad_motorista' %}"><li>Motorista</li></a>
							<a href="{% url 'url_cad_caminhao' %}"><li>Caminhão</li></a>
							<a href="{% url 'url_cad_coleta' %}"><li>Coleta</li></a>
						</ul>
					</li></a>
					<a href="{% url 'url_cad_coleta' %}"><li>COLETA</li></a>
				</ul>
			</nav>
		</div>
	</main>
</header>
<main>
	<div class="container">
		<a class="link"id="paracadastro"></a>
		<a class="link"id="paralogin"></a>
		<div class="content">
				<h4>Caminhões cadastrados</h4>
			{% for list in lista %}
				<div>
					<div class="container">
						<p>Placa: {{ list.placa }}</p>
						<p>Marca:  {{ list.marca }}</p>
						<p></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</main>
<div class="footer">
	<p>Footer</p>
</div>
</body>
</html>
-->