{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Cadastro Grupo{% endblock %}
{% block content %}
<div class="container padding-formulario2">
	<h4 class="titulo-form">Cadastro de Grupo de Materiais</h4>
	<form class="jumbotron form-dividido" method="POST" id="formEmpresa">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="id_nome_grupo">Nome do Grupo de Materiais<span class="asteriskField">*</span></label>
				<div>
					{{ form.nome_grupo }}
					{% if form.nome_grupo.errors %}
						{{ form.nome_grupo.errors }}
					{% endif %}
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="id_preco_grupo">Preço do grupo de Materiais<span class="asteriskField">*</span></label><br>
					{{ form.preco_grupo }}
			</div>
		</div>

		<button class="btn btn-secondary" type="submit">Finalizar</button>
		<a href="{% url 'url_index' %}">
			<button class="btn btn-secondary" type="button">Cancelar</button>
		</a>

	</form>
</div>
{% endblock %}

<!--FORMULARIO HORIZONTAL-->
<!--<main class="container grupo-padding">-->
<!--	<div class="row justify-content-center">-->
<!--		<div id="tela">-->
<!--			<form method="POST">-->
<!--				<h4 class="titulo-form">Cadastro de Grupo</h4>-->
<!--				{% csrf_token %}-->
<!--				<p>{{ form|crispy }}</p><br>-->
<!--				<input class="mt-3 btn-light font-detalhes" type="submit" value="Finalizar" />-->
<!--				<a href="{% url 'url_index' %}">-->
<!--					<input class="btn-light font-detalhes botao-cancelar" type="button" value="Cancelar" />-->
<!--				</a>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--</main>-->

