<!-- Modal -->
<div class="modal fade" id="modal-grupo" tabindex="-1" role="dialog" aria-labelledby="modal-grupoLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title titulo-form" id="exampleModalLabel">Criar Novo Grupo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form >
					{% csrf_token %}
					<div class="form-group">
						<label for="novoGrupo">Grupo de Materiais</label>
						<input type="text" class="form-control" id="novoGrupo" name="novoGrupo" placeholder="Digite o nome do novo Grupo de Materiais">
					</div>
				</form>

				<div id="ajax-errors" class="alert alert-danger" role="alert" style="display: none;">
					<p><strong>Teste</strong></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" id="criar-novo-grupo"><span id="criar-novo-grupo-mensagem">Salvar Grupo</span></button>
			</div>
		</div>
	</div>
</div>



